{
	"owner": ["<your-number>@s.whatsapp.net"],
	"apikey": "<your-apikey>",
	"session": "<session-name>.json",
	"name": "<bot-name>",
	"prefix": "!",
	"ignore": {
		"category": ["main"]
	},
	"response": {
		"wait": "_Wait a minute, data is being processed!_",
		"error": {
			"url": "Link yang kamu berikan tidak valid",
			"api": "Maaf terjadi kesalahan"
		},
		"self": "Perintah ini khusus owner & bot",
		"group": "Perintah ini hanya bisa digunakan di grup",
		"private": "Perintah ini hanya bisa digunakan di private message",
		"admin": "Perintah ini hanya bisa digunakan oleh Admin Grup",
		"botAdmin": "Bot Harus menjadi admin",
		"owner": "Perintah ini hanya dapat digunakan oleh owner bot",
		"premium": "Perintah ini khusus member premium"
	}
}
